.bg-primary {
    background: #473144 !important;
    font-weight: bold;
}

#hero {
    background: linear-gradient(to bottom, rgba(71, 49, 68, 0.7), rgba(71, 49, 68, 0.7)),url('../assets/fist-bumping-train.jpg') center center no-repeat;
    background-size: cover;
    height: 92vh;
    color: #fff;
    display: flex;
    align-items: center;
}

#hero h2 {
    margin-top: 2rem;
    font-weight: 300;
}

section {
    padding: 2rem 0;
}

section#what-is h2,
section#why-presto h2,
section#how-to h2 {
    padding: 5rem 0 1.5rem;
}

section h3 {
    font-weight: 300;
    padding: 0.7rem 0;
    text-align: center;
}

section#what-is {
    background: #CCB69B;
}

section#how-to {
    background: linear-gradient(to bottom, rgba(71, 49, 68, 0.7), rgba(71, 49, 68, 0.7)),url('../assets/toronto-subway.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
}

section#how-to .container {
    background: rgba(0, 0, 0, 0.5);
    padding: 0 2rem 2rem 2rem;
}

footer {
    padding: 2rem 0;
    background: #333;
    color: #fff;
    text-align: center;
}

footer h2 {
    font-size: 0.9rem;
}

footer img {
    height: 2rem;
}

footer a {
    padding: 0 1.5rem;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 765px) {
    #hero {
        padding-top: 6rem;
        padding-bottom: 42rem;
    }
    #hero h1 {
        font-size: 3rem;
        padding-top: 35rem;
        z-index: 0;
    }
    .navbar {
        z-index: 99;
    }

    footer {
        font-size: 0.8rem;
    }
}
